<ul>
    <li>
        <a asp-controller="Home" asp-action="Index" >Home</a>
        <a asp-controller="Home" asp-action="Privacy" >Privacy</a>
        <a asp-controller="Product" asp-action="Index" >Products</a>
    </li>
</ul>