@model List<Product>

<!--Sayfanın altında ya da üstünde olması farketmez. -->
@section Footer
{
    <div>Only for Index footer</div>
}

@foreach (Product prd in Model)
{
    <div>
        <h3>@prd.ProductName</h3>
        <p>@prd.ProductPrice</p>
        <a href="/Product/Get/@prd.ProductId">Get Details</a>
    </div>
}